venv
logs
__pycache__/
app\__pycache__
parsed_site_text.txt
todo.txt
.env
retrieved_debug.txt
site_data.txt
data/
benchmark_question.txt
documentation.docx
multimodal-rag-system.html
~$cumentation.docx